
.idea/

design/

frontend/__pycache__/

frontend/dialogs/__pycache__/

*.pyc

backend/vinyl_library_api/.git

backend/vinyl_library_api/.idea

backend/vinyl_library_api/.git

backend/vinyl_library_api/target/

backend/vinyl_library_api/Rocket.toml




vinyl_library_api.exe

vinyl_library.bat
